@using Skybrud.Umbraco.GridData
@using Skybrud.Umbraco.GridData.Extensions
@using SpecialistPortalen.Web.Extensions
@inherits UmbracoViewPage<GridRow>

<div class="row">
    @foreach (GridArea area in Model.Areas)
    {
        <div class="col-12">
            <div class="card-deck" @area.RenderElementAttributes()>
                <div class="row">
                    @foreach (GridControl control in area.Controls)
                    {
                        <div class="col-xs-12 col-sm-3">
                            @Html.RenderGridControl(control, "TypedGrid/Editors/BlueLeet.UComponents/Card")
                        </div>
                    }
                </div>
            </div>
        </div>
    }
</div>
