@inherits Umbraco.Web.Mvc.UmbracoViewPage<Skybrud.Umbraco.GridData.Rendering.GridControlWrapper<BlueLeet.UComponents.Core.GridValues.GridControlGoogleMapsValue>>
<div class="embed-responsive widget-maps h-100">
    @Html.Raw(Model.Value.Value)
</div>