@inherits Umbraco.Web.Mvc.UmbracoViewPage<Skybrud.Umbraco.GridData.Rendering.GridControlWrapper<BlueLeet.UComponents.Core.GridValues.GridControlGoToTopValue>>
<a class="module-go-top go-top-circle" href="javascript:void(0)" style="bottom: 12px; opacity: 1;" [scroll-to]="0" [scroll-duration]="300"> <i class="fa fa-angle-up"></i> </a>