@inherits Umbraco.Web.Mvc.UmbracoViewPage<Skybrud.Umbraco.GridData.Rendering.GridControlWrapper<BlueLeet.UComponents.Core.GridValues.GridControlHeadlineLeadValue>>
<div class="headline module">
    <h1>@Model.Value.Headline</h1>
    <p class="lead">@Model.Value.Lead</p>
</div>