<?xml version="1.0" encoding="utf-8"?>
<blueLeetSearch xmlns="BlueLeet://Search" searchQueryKey="s" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="BlueLeet://Search ../../../packages/BlueLeet.Search.0.1.45/search.xsd">
  <decodeIndexFormating enabled="true">
    <propertyEditorsToDecode>
      <add propertyEditorAlias="Umbraco.TinyMCEv3" />
    </propertyEditorsToDecode>
  </decodeIndexFormating>
  <searchIndexSettings>
    <indexSet name="ExternalSearcher">
      <excludeIndexFields>
        <add name="id" />
        <add name="nodeTypeAlias" />
        <add name="parentID" />
      </excludeIndexFields>
    </indexSet>
  </searchIndexSettings>
  <searchDefinitionSettings>
    <contentSearchDefinition enabled="true" />
    <mediaSearchDefinition enabled="true" />
    <fileSearchDefinition enabled="true" />
  </searchDefinitionSettings>
</blueLeetSearch>