<?xml version="1.0" encoding="utf-8"?>
<blueLeetUCodeFirst xmlns="BlueLeet://uCodeFirst" silentThrowOnError="false" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="BlueLeet://uCodeFirst ../../../packages/BlueLeet.UCodeFirst.0.20.1/uCodeFirst.xsd">
  <synchronization mode="Auto" cacheModels="true">
  </synchronization>
</blueLeetUCodeFirst>