@using UmbracoPoc.Core.Macros
@using BlueLeet.UCodeFirst.Macros

@inherits Umbraco.Web.Macros.PartialViewMacroPage<Jumbotron>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="heading display-3 animated fadeInDown">@Macro.Heading</h1>
        <p class="lead animated fadeIn">@Macro.Text</p>
    </div>
</div>