@using UmbracoPoc.Core.Macros
@using UmbracoPoc.Core

@inherits PartialViewMacroPage<Jumbotron>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="heading display-3 animated fadeInDown">@Model.MacroParameters[nameof(Jumbotron.Heading).ToLower()]</h1>
        <p class="lead animated fadeIn">@Model.MacroParameters[nameof(Jumbotron.Text).ToLower()]</p>
    </div>
</div>